$main-color: red;
$accent-color: yellow;
$main-color-drak: brown;

.wrapper {
  background: $main-color;
  .child {
    border: 2px solid aqua;
    a {
      color: $accent-color;
    }
  }
  &-dark {
    background: $main-color-drak;
  }
  &.active {
    color: $accent-color;
  }
}

.child {
  border: 1px solid green;
}

// .container .child {
//   border: 1px solid yellow;
// }
